<h1>Listing Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>College name</th>
      <th>Phone no</th>
      <th>Email</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for member <- @members do %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.college_name %></td>
      <td><%= member.phone_no %></td>
      <td><%= member.email %></td>

      <td>
        <span><%= link "Show", to: Routes.member_path(@conn, :show, member) %></span>
        <span><%= link "Edit", to: Routes.member_path(@conn, :edit, member) %></span>
        <span><%= link "Delete", to: Routes.member_path(@conn, :delete, member), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Member", to: Routes.member_path(@conn, :new) %></span>
