<h1>Show Member</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @member.name %>
  </li>

  <li>
    <strong>College name:</strong>
    <%= @member.college_name %>
  </li>

  <li>
    <strong>Phone no:</strong>
    <%= @member.phone_no %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @member.email %>
  </li>

</ul>

<center>
  <h3>Thank you for your interest, we will get back to you.</h3>
  <h3>You can close this tab</h3>
</center>

<span><%= link "Edit", to: Routes.member_path(@conn, :edit, @member) %></span>
