<% range = [1, 2, 3, 4, 5] %>


<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, "Rate the first session in a scale of 1 to 5" %>
  <%= label f, :worst_rating, 1 %> <%= radio_button f, :first_session_rating, 1 %>
  
 <%= label f, :bad_rating, 2 %> <%= radio_button f, :first_session_rating, 2 %>
  
  <%= label f, :average_rating, 3 %> <%= radio_button f, :first_session_rating, 3 %>
  
  <%= label f, :good_rating, 4 %> <%= radio_button f, :first_session_rating, 4 %>
  
   <%= label f, :excellent_rating, 5 %> <%= radio_button f, :first_session_rating, 5 %>
 
  <%= error_tag f, :first_session_rating %>

  <%= label f, "Provide your feedback on the first day's session" %>
  <%= textarea f, :first_day_feedback %>
  <%= error_tag f, :first_day_feedback %>

  <%= label f, "Rate the second session on a scale of 1 to 5" %>
  <%= label f, :worst_rating, 1 %> <%= radio_button f, :second_session_rating, 1 %>
  
 <%= label f, :bad_rating, 2 %> <%= radio_button f, :second_session_rating, 2 %>
  
  <%= label f, :average_rating, 3 %> <%= radio_button f, :second_session_rating, 3 %>
  
  <%= label f, :good_rating, 4 %> <%= radio_button f, :second_session_rating, 4 %>
  
   <%= label f, :excellent_rating, 5 %> <%= radio_button f, :second_session_rating, 5 %>
 
  <%= error_tag f, :second_session_rating %>

  <%= label f, "Provide your feedback on the second day's session" %>
  <%= textarea f, :second_session_feedback %>
  <%= error_tag f, :second_session_feedback %>

  <%= label f, "Which language would you rather prefer for the sessions to be taken" %>
  <%= label f, :english, "English" %> <%= radio_button f, :language_preference, "English" %>
  <%= label f, :tamil, "Tamil" %> <%= radio_button f, :language_preference, "Tamil" %>
  <%= error_tag f, :language_preference %>

  <%= label f, "What topic can be taken next time" %>
  <%= textarea f, :future_suggestion %>
  <%= error_tag f, :future_suggestion %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
