<h1>Listing Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>First session rating</th>
      <th>First day feedback</th>
      <th>Second session rating</th>
      <th>Second session feedback</th>
      <th>Language preference</th>
      <th>Future suggestion</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for feedback <- @feedbacks do %>
    <tr>
      <td><%= feedback.first_session_rating %></td>
      <td><%= feedback.first_day_feedback %></td>
      <td><%= feedback.second_session_rating %></td>
      <td><%= feedback.second_session_feedback %></td>
      <td><%= feedback.language_preference %></td>
      <td><%= feedback.future_suggestion %></td>

      <td>
        <span><%= link "Show", to: Routes.feedback_path(@conn, :show, feedback) %></span>
        <span><%= link "Edit", to: Routes.feedback_path(@conn, :edit, feedback) %></span>
        <span><%= link "Delete", to: Routes.feedback_path(@conn, :delete, feedback), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Feedback", to: Routes.feedback_path(@conn, :new) %></span>
