<h1>Show Feedback</h1>

<ul>

  <li>
    <strong>First session rating:</strong>
    <%= @feedback.first_session_rating %>
  </li>

  <li>
    <strong>First day feedback:</strong>
    <%= @feedback.first_day_feedback %>
  </li>

  <li>
    <strong>Second session rating:</strong>
    <%= @feedback.second_session_rating %>
  </li>

  <li>
    <strong>Second session feedback:</strong>
    <%= @feedback.second_session_feedback %>
  </li>

  <li>
    <strong>Language preference:</strong>
    <%= @feedback.language_preference %>
  </li>

  <li>
    <strong>Future suggestion:</strong>
    <%= @feedback.future_suggestion %>
  </li>

</ul>
<center>
  <h1>Thank you for your feedback</h1>
  <%= link "Associate with FSFTN", to: Routes.member_path(@conn, :new) %>
</center>
<span><%= link "Edit", to: Routes.feedback_path(@conn, :edit, @feedback) %></span>
