<div>
	<h1>Sign in</h1>
	<%= form_for @conn, Routes.session_path(@conn, :create), [method: :post, as: :user], fn f-> %>
	<div class="form-group">
		<%= text_input f, :name, placeholder: "Name", class: "form-control" %>	
	</div>
	<div class="form-group">
		<%= password_input f, :password, placeholder: "Password", class: "form-control" %>	
	</div>
	<div class="form-group">
		<%= submit "Log in", class: "btn btn primary" %>
	</div>
	<% end %>
</div>